/target

# Generovane vystupy debug viewer / devtools
/debug.html
/devtools.html

# Test runner logy
/test_logs/
google_dump.html
layout-dump.txt
mq-log.txt
grid.txt
chrome-dump.txt
flex.txt
flex2.txt

# HTTP cache (fonts, CSS, images stahnute z webu)
/.cache/
dump.txt

ours.txt
chrome.txt
log.txt
